In [1]:
import numpy as np
import pandas as pd

In [2]:
workday_file = '/Users/gengyunxin/Documents/项目/traffic_model/TVTS_9.28/data/combine_E_workday_n0.csv'
weekend_file = '/Users/gengyunxin/Documents/项目/traffic_model/TVTS_9.28/data/combine_E_weekend_n0.csv'
df_workday = pd.read_csv(workday_file).values.transpose()#(23,12384)
df_weekend = pd.read_csv(weekend_file).values.transpose()#(23,5184)
print(df_workday.shape)
print(df_weekend.shape)

(23, 12384)
(23, 5184)

In [3]:
# (989, 289)
raw_workday = []
for road in range(df_workday.shape[0]):
    print('road:', road)
    road_ts = df_workday[road]
    max = road_ts.max()
    min = road_ts.min()
    print('max: ', max)
    print('min: ', min)
    norm_road_ts = ((road_ts - min) / (max - min)).tolist()
    print('length: ', len(norm_road_ts))
    raw_workday.append(norm_road_ts)
raw_workday_array = np.array(raw_workday).reshape(-1, 288)
print(raw_workday_array.shape)
label = np.ones((int(df_workday.shape[1] * df_workday.shape[0] / 288), 1))
print(label.shape)
workday_array = np.hstack((raw_workday_array, label))
print(workday_array.shape)

road: 0
max:  400
min:  3
length:  12384
road: 1
max:  425
min:  7
length:  12384
road: 2
max:  568
min:  13
length:  12384
road: 3
max:  543
min:  18
length:  12384
road: 4
max:  705
min:  23
length:  12384
road: 5
max:  527
min:  28
length:  12384
road: 6
max:  623
min:  31
length:  12384
road: 7
max:  654
min:  20
length:  12384
road: 8
max:  670
min:  23
length:  12384
road: 9
max:  632
min:  21
length:  12384
road: 10
max:  519
min:  23
length:  12384
road: 11
max:  412
min:  24
length:  12384
road: 12
max:  430
min:  23
length:  12384
road: 13
max:  683
min:  40
length:  12384
road: 14
max:  634
min:  37
length:  12384
road: 15
max:  508
min:  39
length:  12384
road: 16
max:  512
min:  46
length:  12384
road: 17
max:  498
min:  35
length:  12384
road: 18
max:  466
min:  5
length:  12384
road: 19
max:  600
min:  14
length:  12384
road: 20
max:  758
min:  1
length:  12384
road: 21
max:  360
min:  16
length:  12384
road: 22
max:  370
min:  22
length:  12384
(989, 288)
(989, 1)
(989, 289)

In [4]:
# (414, 289)
raw_weekend = []
for road in range(df_weekend.shape[0]):
    print('road:', road)
    road_ts = df_weekend[road]
    max = road_ts.max()
    min = road_ts.min()
    print('max: ', max)
    print('min: ', min)
    norm_road_ts = ((road_ts - min) / (max - min)).tolist()
    print('length: ', len(norm_road_ts))
    raw_weekend.append(norm_road_ts)
raw_weekend_array = np.array(raw_weekend).reshape(-1, 288)
print(raw_weekend_array.shape)
label = np.zeros((int(df_weekend.shape[1] * df_weekend.shape[0] / 288), 1))
print(label.shape)
weekend_array = np.hstack((raw_weekend_array, label))
print(weekend_array.shape) 
print(weekend_array[0])

road: 0
max:  290
min:  13
length:  5184
road: 1
max:  351
min:  18
length:  5184
road: 2
max:  538
min:  31
length:  5184
road: 3
max:  504
min:  29
length:  5184
road: 4
max:  683
min:  56
length:  5184
road: 5
max:  488
min:  31
length:  5184
road: 6
max:  541
min:  59
length:  5184
road: 7
max:  638
min:  57
length:  5184
road: 8
max:  657
min:  58
length:  5184
road: 9
max:  587
min:  48
length:  5184
road: 10
max:  470
min:  10
length:  5184
road: 11
max:  393
min:  10
length:  5184
road: 12
max:  397
min:  20
length:  5184
road: 13
max:  700
min:  55
length:  5184
road: 14
max:  540
min:  48
length:  5184
road: 15
max:  510
min:  48
length:  5184
road: 16
max:  489
min:  54
length:  5184
road: 17
max:  406
min:  59
length:  5184
road: 18
max:  450
min:  14
length:  5184
road: 19
max:  475
min:  22
length:  5184
road: 20
max:  617
min:  39
length:  5184
road: 21
max:  283
min:  23
length:  5184
road: 22
max:  297
min:  10
length:  5184
(414, 288)
(414, 1)
(414, 289)
[0.37906137 0.58122744 0.59566787 0.55956679 0.60288809 0.57039711
 0.51263538 0.59927798 0.53429603 0.49819495 0.46209386 0.44404332
 0.44043321 0.41877256 0.36101083 0.3465704  0.31768953 0.26714801
 0.27075812 0.42960289 0.37906137 0.2599278  0.31407942 0.19133574
 0.26714801 0.33212996 0.19855596 0.27075812 0.23104693 0.20577617
 0.18772563 0.19855596 0.19855596 0.19855596 0.16967509 0.07581227
 0.12635379 0.16245487 0.07220217 0.07220217 0.07581227 0.07220217
 0.06137184 0.15162455 0.14801444 0.1299639  0.10830325 0.10469314
 0.09747292 0.07220217 0.11552347 0.0866426  0.12635379 0.20216606
 0.11191336 0.18772563 0.27075812 0.29241877 0.18411552 0.15523466
 0.2166065  0.22021661 0.25631769 0.29602888 0.22021661 0.24548736
 0.22021661 0.30685921 0.32129964 0.27075812 0.24909747 0.28519856
 0.37184116 0.46209386 0.42960289 0.31407942 0.39350181 0.33574007
 0.32851986 0.44404332 0.4368231  0.37545126 0.38628159 0.41155235
 0.38628159 0.45487365 0.38628159 0.46209386 0.49458484 0.41516245
 0.40794224 0.42960289 0.49458484 0.49458484 0.49458484 0.39711191
 0.37906137 0.42238267 0.45848375 0.42599278 0.50180505 0.34296029
 0.41155235 0.42238267 0.46931408 0.54151625 0.47292419 0.46570397
 0.48375451 0.38267148 0.52707581 0.46931408 0.48375451 0.50180505
 0.49458484 0.50902527 0.566787   0.58122744 0.47292419 0.4801444
 0.44765343 0.55234657 0.50541516 0.53790614 0.61732852 0.54512635
 0.5234657  0.63898917 0.46209386 0.63176895 0.59205776 0.51624549
 0.61732852 0.55956679 0.67509025 0.52707581 0.63537906 0.53429603
 0.55595668 0.58483755 0.59927798 0.57400722 0.48736462 0.60288809
 0.60649819 0.75812274 0.566787   0.6534296  0.63898917 0.6101083
 0.60288809 0.66787004 0.69314079 0.68592058 0.77978339 0.72563177
 0.49097473 0.80866426 0.68592058 0.60288809 0.77617329 0.67148014
 0.75090253 0.71841155 0.74729242 0.7833935  0.76534296 0.67148014
 0.65703971 0.71480144 0.81949458 0.68231047 0.67870036 0.73285199
 0.76895307 0.97111913 0.8267148  0.8267148  0.68953069 0.64620939
 0.73285199 0.71480144 0.84476534 0.77617329 0.71841155 0.75451264
 0.71480144 0.90252708 0.85198556 0.74729242 0.80866426 0.68592058
 0.66425993 0.64620939 0.70397112 0.70758123 0.68592058 0.66425993
 0.70397112 0.8267148  0.92418773 0.81949458 0.80505415 0.65703971
 0.76534296 0.60288809 0.86642599 0.7400722  0.70036101 0.79783394
 0.70036101 0.61371841 0.74368231 0.65703971 0.64620939 0.68231047
 0.57400722 0.566787   0.79422383 0.75451264 0.57761733 0.66064982
 0.68231047 0.566787   0.55956679 0.46209386 0.57761733 0.49458484
 0.55595668 0.68231047 0.6101083  0.6534296  0.59927798 0.5198556
 0.5631769  0.62815884 0.62815884 0.57761733 0.53068592 0.47292419
 0.5234657  0.54151625 0.62454874 0.55956679 0.60649819 0.46209386
 0.55956679 0.59927798 0.58483755 0.58122744 0.60649819 0.49819495
 0.5631769  0.57761733 0.6101083  0.63176895 0.54873646 0.62093863
 0.55956679 0.57761733 0.64259928 0.66787004 0.67148014 0.64259928
 0.55595668 0.70758123 0.7400722  0.67870036 0.68592058 0.61732852
 0.60288809 0.62454874 0.58483755 0.48375451 0.64620939 0.66425993
 0.6101083  0.6534296  0.64981949 0.58122744 0.49458484 0.53068592
 0.46570397 0.49819495 0.42960289 0.55956679 0.46209386 0.49458484
 0.        ]

In [5]:
r1 = 0.6
r2 = 0.8
train_workday = workday_array[:int(workday_array.shape[0]*r1)]
valid_workday = workday_array[int(workday_array.shape[0]*r1):int(workday_array.shape[0]*r2)]
test_workday = workday_array[int(workday_array.shape[0]*r2):]
print(train_workday.shape)
print(valid_workday.shape)
print(test_workday.shape)

(593, 289)
(198, 289)
(198, 289)

In [6]:
train_weekend = weekend_array[:int(weekend_array.shape[0]*r1)]
valid_weekend = weekend_array[int(weekend_array.shape[0]*r1):int(weekend_array.shape[0]*r2)]
test_weekend = weekend_array[int(weekend_array.shape[0]*r2):]
print(train_weekend.shape)
print(valid_weekend.shape)
print(test_weekend.shape)

(248, 289)
(83, 289)
(83, 289)

In [7]:
train = np.vstack((train_workday, train_weekend))
valid = np.vstack((valid_workday, valid_weekend))
test = np.vstack((test_workday, test_weekend))
print(train.shape)
print(valid.shape)
print(test.shape)

(841, 289)
(281, 289)
(281, 289)

In [8]:
np.random.shuffle(train)
np.random.shuffle(valid)
np.random.shuffle(test)

In [10]:
np.savetxt('/Users/gengyunxin/Documents/项目/traffic_model/TVTS_9.28/data/train_classify.csv', train, delimiter=',')
np.savetxt('/Users/gengyunxin/Documents/项目/traffic_model/TVTS_9.28/data/valid_classify.csv', valid, delimiter=',')
np.savetxt('/Users/gengyunxin/Documents/项目/traffic_model/TVTS_9.28/data/test_classify.csv', test, delimiter=',')

---

In [4]:
def read_data(file_path, label):
    num_roads = 24  
#     saved_path = '/Users/gengyunxin/Documents/项目/traffic_model/test/data/processed_finetune_seattle_72.csv'
    df = pd.read_csv(file_path, names=None).values
  
    df_T = df.transpose() # (24, 12384)
    # 每条样本的长度要综合考虑，不能存在两条道路的数据混合在一条样本中的情况
    # 即能被12384整除；
    # 还要和小时、天等实际意义挂钩；
    # 同时要考虑一条样本（sentence）中“词”的数量要合理
    
    # 每条路的数据独立做归一化
    raw = []
    for i in range(num_roads):
        array = df_T[i]
        max = array.max()
        min = array.min()
        normalized = ((array - min) / (max - min)).tolist()
        raw.append(normalized)

    df_norm = np.array(raw)
    
    data_quarter = df_norm.reshape(-1, 72) # 每条样本72个点,即1/4天 

    num_rows = data_quarter.shape[0]
    if label == 1:
        labels = np.ones((1, num_rows))
    else:
        labels = np.zeros((1, num_rows))
    data_with_label = np.insert(data_quarter, 72, values=labels, axis=1) 
    
    return data_with_label

In [5]:
workday_file = '/Users/gengyunxin/Documents/项目/traffic_model/data/California/combine_E_workday_n0.csv'
weekend_file = '/Users/gengyunxin/Documents/项目/traffic_model/data/California/combine_E_weekend_n0.csv'
# weekday->1 ; weekend->0
workday_with_label = read_data(workday_file, label=1) # (4128, 73)
weekend_with_label = read_data(weekend_file, label=0) # (1728, 73)

In [6]:
workday_with_label.shape

(4128, 73)

In [7]:
weekend_with_label.shape

(1728, 73)

In [9]:
all_with_label = np.append(workday_with_label, weekend_with_label, axis=0) # (5856, 73)

(5856, 73)

In [10]:
df = pd.DataFrame(all_with_label)
df.to_csv('/Users/gengyunxin/Documents/项目/traffic_model/test/data/processed_finetune_seattle_72.csv', index=0, header=0)

In [11]:
12384/5184

2.388888888888889

---

In [2]:
file = '/Users/gengyunxin/Documents/项目/traffic_model/TVTS_9.28/loss/classification/288new/GRU_val_acc.csv'
df = pd.read_csv(file)
df

        Wall time  Step     Value
0    1.638359e+09     0  0.704626
1    1.638359e+09     1  0.704626
2    1.638359e+09     2  0.704626
3    1.638359e+09     3  0.704626
4    1.638359e+09     4  0.704626
..            ...   ...       ...
100  1.638360e+09   100  0.843416
101  1.638360e+09   101  0.829181
102  1.638360e+09   102  0.861210
103  1.638360e+09   103  0.807829
104  1.638360e+09   104  0.871886

[105 rows x 3 columns]

In [3]:
value = df['Value'] * 100
df['Percentage'] = value
df

        Wall time  Step     Value  Percentage
0    1.638359e+09     0  0.704626   70.462632
1    1.638359e+09     1  0.704626   70.462632
2    1.638359e+09     2  0.704626   70.462632
3    1.638359e+09     3  0.704626   70.462632
4    1.638359e+09     4  0.704626   70.462632
..            ...   ...       ...         ...
100  1.638360e+09   100  0.843416   84.341639
101  1.638360e+09   101  0.829181   82.918149
102  1.638360e+09   102  0.861210   86.120999
103  1.638360e+09   103  0.807829   80.782920
104  1.638360e+09   104  0.871886   87.188613

[105 rows x 4 columns]

In [4]:
df.to_csv(file)

In [6]:
288*64/24

768.0